/* ===== Глобальные стили ===== */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  text-transform: uppercase;

  background-color: #000;
  background-image: url("../img/index/main-bcg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-position: top center;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.inner-page {
  background-color: #f8f5f2;
  background-image:
    linear-gradient(to bottom, #000, transparent),
    url("../img/index/container-bcg.jpg");
  background-size: 10px 40px, auto;
  background-position: 0 0;
  background-repeat: repeat-x, repeat;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/* ===== Стилизация хэдера на главной странице===== */
.header {
  margin-bottom: 40px;

  font-size: 16px;
  line-height: 20px;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo {
  order: 2;
}

.nav__wrapper {
  width: 100%;
  margin-bottom: 63px;

  background-color: #000;
}

.nav__wrapper .container {
  display: flex;
  justify-content: space-between;
}

.nav__list,
.nav-user {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.nav__link,
.nav-user__link {
  display: inline-block;
  padding: 25px 20px;

  vertical-align: middle;

  color: #fff;
}

.nav__link:hover,
.nav__link:focus,
.nav-user__link:hover,
.nav-user__link:focus {
  background-color: #242424;
}

/* ===== Стилизация хэдера на внутренних страницах===== */
.inner-page .header {
  background-color: #000;
}

.inner-page .nav {
  flex-direction: row;
}

.inner-page .nav__link-logo {
  margin-right: 21px;
}

.inner-page .nav__list {
  margin-right: auto;
}

/* ===== Стилизация основного контента главной страницы ===== */
.advantages {
  margin-bottom: 80px;
}

.advantages__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-top: 30px;

  list-style: none;
}

.advantages__item {
  flex-basis: 300px;

  text-align: center;
}

.common-title {
  margin: 0;

  font-size: 30px;
  line-height: 42px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 60px;
}

.advantages__text {
  margin: 0;
}

.main {
  color: #000;
}

.main__container {
  display: flex;
  margin-bottom: 35px;
  padding: 50px 80px;

  color: #000;

  background-color: #f8f5f2;
  background-image: url("../img/index/container-bcg.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.main__container:last-child {
  margin-bottom: 65px;
}

.news {
  flex-basis: 380px;
  margin-right: auto;
}

.news__title {
  margin-bottom: 13px;
}

.news__list {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  list-style: none;
}

.news__item {
  margin-bottom: 20px;
}

.news__item:last-child {
  margin-bottom: 0;
}
.news__text {
  margin: 0;
}

.news__time {
  text-transform: none;
}

.button {
  border: none;

  font: inherit;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #000;

  cursor: pointer;
}

.button:hover,
.button:focus
.button:active {
  background-color: #663d15;
}

.photo-gallery {
  flex-basis: 300px;
}

.photo-gallery__title {
  margin-bottom: 15px;
}

.photo-gallery__list {
  margin: 0;
  margin-bottom: 30px;

  background-color: #ccc;
  border: 7px solid #fff;
}

.contacts {
  flex-basis: 380px;
  margin-right: auto;
}

.contacts__title {
  margin-bottom: 20px;
}

.contacts__info {
  margin: 0;
  margin-bottom: 20px;
}

.contacts__worktime {
  margin: 0;
  margin-bottom: 25px;
}

.entry {
  flex-basis: 300px;
}

.entry__title {
  margin-bottom: 20px;
}

.entry__text {
  margin: 0;
  margin-bottom: 20px;
}

.form__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  list-style: none;
}

.form__item {
  flex-basis: 140px;
}

.form__label {
  padding-left: 15px;
}

.form__input {
  width: 100%;
  box-sizing: border-box;

  font: inherit;

  background-color: transparent;
  border: 2px solid #000;
}

.form__input:focus {
  border-color: #663d15;
  outline: none;
}

/* ===== Стилизация основного контента страницы catalog ===== */
.catalog {
  margin-bottom: 55px;
}

.catalog__title {
  margin-bottom: 20px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.breadcrumbs__item {
  padding-right: 40px;
}

.breadcrumbs__link {
  color: #000;
}

.breadcrumbs__link:hover,
.breadcrumbs__link:focus {
  text-decoration: underline;
}

.breadcrumbs__item_active {
  color: #aba9a7;
}

.catalog-wrapper {
 display: flex;
 justify-content: space-between;
}

.filter {
  flex-basis: 220px;
}

.filter__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter__fieldset--last {
  margin-bottom: 45px;
}

.filter__legend {
  margin-bottom: 30px;

  font-size: 24px;
  line-height: 30px;
}

.filter__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter__item {
  margin-bottom: 15px;
  padding-left: 44px;
}

.filter__label {
  line-height: 18px;
}

.filter__label:hover,
.filter__label:focus {
  color: #663d15;
}

.filter__input:disabled + .filter__label {
  color: #aba9a7;
}

.filter__button {
  line-height: 18px;
}

.product {
  flex-basis: 700px;
}

.product__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 45px;
  padding: 0;

  list-style: none;
}

.product__item {
  flex-basis: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.product__item:nth-child(3n) {
  margin-right: 0;
}

.product__link {
  color: #000;
}

.product__title {
  font-size: 14px;
  line-height: 18px;
}

.product__group {
  text-transform: none;
}

.product__buy {
  line-height: 18px;
}

.product__price {
  background-color: #e5e5e5;
}

.product__buy-link {
  color: #fff;

  background-color: #000;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 45px;
  padding: 0;

  list-style: none;
}

.pagination__item {
  margin-right: 7px;
  margin-bottom: 5px;
}

.pagination__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 43px;

  color: #fff;

  background-color: #000;
}

.pagination__link:hover,
.pagination__link:focus {
  background-color: #663d15;
}

.pagination__link_active {
  color: #000;

  background-color: #fff;
}

.pagination__link_active:hover,
.pagination__link_active:focus {
  color: #000;

  background-color: #fff;
}

/* ===== Стилизация карточки товара ===== */
.product-photo {
  flex-basis: 460px;
}

.product-photo__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.product-info {
  flex-basis: 390px;
}

.product-info__code {
color: #aeaeae;
}

.product-info__composition {
  font-size: 24px;
  line-height: 30px;
}

/* ===== Стилизация страницы price ===== */
.about h2 {
  font-size: 24px;
  line-height: 30px;
}

.about .about__title {
  font-size: 48px;
  line-height: 48px;
}

.about table {
  border-collapse: collapse;
}

.about td {
  border: 2px solid #000;
}

/* ===== Стилизация футера ===== */
.footer {
  background-color: #242424;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
}

.address {
  flex-basis: 310px;
}

.footer__text {
  margin: 0;
}

.footer__link {
  color: #fff;
  text-decoration: underline;
}

.footer__link:hover,
.footer__link:focus {
  text-decoration: none;
}

.socials {
  flex-basis: 310px;

  text-align: center;
}

.socials__text {
  margin: 0;
}

.socials__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.copyright {
  flex-basis: 310px;

  text-align: right;
}

.copyright__link:hover,
.copyright__link:focus {
  color: #000;

  background-color: #fff;
}

/* ===== Стилизация модальных окон ===== */
.authorization {
  color: #000;

  background-color: #f8f5f2;
  background-image: url("../img/index/container-bcg.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.authorization__form-input {
  font: inherit;

  border: 2px solid #000;
}

.authorization__form-input:focus {
  border-color: #663d15;
  outline: none;
}

.authorization__form-link {
  color: #000;
  text-decoration: underline;
}

.authorization__form-link:hover,
.authorization__form-link:focus {
  text-decoration: none;
}
